<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Music Info</title>
  </head>
  <body>
    <h1>Itunes Music Searcher</h1>
    <a href='/'>Go Back</a><br>
    <img src=<%=artworkUrl100%> + "><br>
    <h2><%=artistName%> - <%=trackName%></h2><br>
    <h3>Preview:</h3><br>
    <audio controls src='<%=previewUrl%>'></audio>


  </body>
</html>
